
nbproject/private/

public/img/thumb/*
vendor/**
public/files/*
curl.php
debug.php
untitled.php
public/img/**

public/img/[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].*
*_thumb[0-9][0-9][0-9].*

public/css/admin.*.css
public/css/compiled.*.css
public/js/admin.*.js
public/js/main.*.js

precompiled/
public/avatars/
public/*.zip

# don't commit all the dependencies fetched via Composer
# /vendor/

application/_installation/
application/_installation/

public/apidoc/api_data.js
public/apidoc/api_data.json
public/apidoc/api_project.js
public/apidoc/api_project.json

testignore.sh
