@import url(flexbox.css);
@import url(dropdown.css);
@import url(mycoursesuite/style.css);

body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;

    background: #fff url(1477.jpg) no-repeat center / cover;

}

header {
    background-color: rgba(255,255,255,.98);
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
header a.logo {
    flex: 1;
}
header ul.navigation {
    min-width: 148px;
}

header > a {
    width: 290px;
    text-decoration: none;
}
header > a > img {
    border: none;
}

section nav {
    padding: 10px 0 10px 10px;
}

section article {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgba(0,0,0,.45);
    color: #eee;
    padding: 10px;
    display: flex;
}
footer p {
    flex: 1;
}
footer p:last-of-type {
    text-align: right;
}
footer a {
    color: inherit;
}

section > article > .container {
    padding-left: 0;
}

.container {
    padding: 10px;
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.container h1 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 24px 0; /* font size / 2 + top margin */
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    /* border: 1px solid #ccc; */
    flex: 1;
    background-color: rgba(255,255,255,.86);
    border-radius: 5px;
    color: #000;
    padding: 10px;
}
.container input {
    padding: 5px 10px;
}
.container input[type="submit"] {
    cursor: pointer;
}
.container input[type="submit"]:hover {
    color: #fff;
}
.container button {
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
}





.my-apps {
    display: flex;
}




/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: rgba(221, 242, 192, 0.86);
}
.feedback.error {
    color: #ff7272;
    background-color: rgba(255, 229, 229, 0.86);
}
.feedback.info {
    color: #00529B;
    background-color: rgba(189, 229, 248, 0.86);
}

.header_right_box {
    float: right;
}

/* login screen */
.login-page-box {
    display: table;
    width: 100%;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin: 0;
    color: #777;
    background-color: rgba(244, 243, 241, 0.85);
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color: #777;
    background-color: transparent;
    border: 2px solid #777;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #252525;
    background-color: #252525;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-box {
    display: table-cell;
    color: #fff;
    background-color: rgba(37, 37, 37, 0.86);
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.register-box h2 {
    color: #fff;
}
.register-box a {
    width: 100%;
    display: block;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.register-box a:hover {
    background-color: #ffffff;
    color: #252525;
}

/* error page */
.red-text {
    color: red;
}