/* ==============================================================================

        MY ACCOUNT

============================================================================== */

article.my-account, article.my-api {
    .standard-width();

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    h1 {

        text-align: center;
        font-size: 48px;
        font-family: 'Caveat';
        color: #1b2a9c;
        font-weight: 400;
        margin: 24px 0;
        text-shadow: 2px 2px 0 #fff, 3px 3px 1px rgba(0,0,0,.05);
    }

    .boxed-container {
        background-color: white;
        box-shadow: 0 0 4px rgba(0,0,0,.1);
        padding: 16px;
        &.with-top-margin {
            margin-top: 16px;
        }
        table.concurrent-logons {
            border: 1px solid #ccc;
            border-collapse: collapse;
            thead {
                background-color: #ddd;
            }
            th, td {
                border:1px solid #ccc;
                width: 50%;
                padding: 8px;
            }
            tbody tr:nth-child(odd) {
                background-color: #eee;
            }
        }
    }

    a {
        color: blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

article.my-account {

    form {
        > .row {
            display: flex;
            &:not(:last-of-type) {
                margin-bottom: 25px;
            }
            > label {
                min-width: 15em;
            }
            > div {
                flex: 1;
                > input[type='email'] {
                    min-width: 50%;
                    padding: 10px;
                    border: 1px solid #eee;
                    background-color: #fff;
                    font-size: 12px;
                }
            }
        }
    }
    div.outer-tile {
        display: block;
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #eee;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        img {
            float: left;
            margin-right: 16px;
        }
        header {
            font-size: 24px;
            font-weight:bold;
        }
        a {
            color: rgba(96,148,224,1);
            font-size: 16px;
            display: inline-block;
            padding: 8px 16px;
            border: 1px solid rgba(96,148,224,1);
            transition: all .1s;
            border-radius: 4px;
            &:hover {
                background-color: rgba(96,148,224,1);
                color: white;
                text-decoration: none;
            }
        }
        footer {
            font-size: 12px;
            margin-top: 4px;
            a {
                border: none;
                padding: 4px 8px;
                color: #c36;
                opacity: 0.5;
                &:hover {
                    background-color: #c36;
                    opacity: 1;
                }
            }
        }
    }

    #purchase-history table {
        width: 100%;
        th, td {
            padding: 10px 5px;
        }
        th, td a {
            color: inherit;
        }
        thead th {
            border-bottom: 1px solid #999;
            text-align: left;
        }
        tbody tr:nth-child(odd) td {
            background-color: rgba(0,0,0,.05);
        }
    }
}



article.my-api {
    code {
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #eee;
        padding: 25px;
        font-size: 18px;
        display: block;
        &.hide {
            background-color: #fff;
            color: #fff;
            position: relative;
            &:hover {
                color: #333;
                background-color: #eee;
                &:after {
                    position: absolute;
                    font-size: 10px;
                    margin-top: -1px;
                    margin-right: -1px;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    border-radius: 0 4px 0 4px;
                    background-color: #333;
                    color: #fff;
                    content: attr(data-label);
                }
            }
        }
    }
}