section {

	.cs-bracket-design {
		position: relative;
		border: 1px solid rgba(0, 0, 0, .33);
		min-height: 1em;
	}

	.cs-bracket-design.top:before {
		position: absolute;
		top: -10px;
		height: 10px;
		left: 50%;
		content: "";
		border-left: 1px solid rgba(0, 0, 0, .33);
	}

	.cs-bracket-design.bottom {
		border-top-color: transparent;
		border-radius: 0 0 3px 3px;
	}

	.cs-bracket-design.top {
		border-bottom-color: transparent;
		border-radius: 3px 3px 0 0;
	}

	&.section {
		// > .store-items {
			padding: 10px 0;
			h1 {
				text-align: center;
				font-size: 48px;
				font-family: 'Caveat';
				color: #1b2a9c;
				font-weight: 400;
				margin: 0 0 25px;
				text-shadow: 2px 2px 0 #fff, 3px 3px 1px rgba(0,0,0,.05);
			}
			h2 {
				font-weight: 300;
				font-size: 18px;
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				margin: 0;
				color: #808080;
				margin: 25px;
			}
			@media @medium {
				h1 {
					margin: 0;
				}
				h2, > p {
					padding-left: 10px;
					padding-right: 10px;
				}
				> p {
					text-align: justify;
					> small {
						font-size: 0.75rem;
					}
				}
				.cs-bracket-design {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		// }
	}
	&.static-content {
		background-size: cover;
		background-color: fade(@body-blue, 75%);
		color: #fff;
		> div.how-else {
			padding: 25px 0;
			@media @medium {
				padding: 10px;
			}
			h1 {
				text-align: center;
				font-size: 1.5rem;
			}
			> h2 {
				font-weight: 300;
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
			}
		}
	}

}
