@import "slideshow.less";
@import "sections.less";
@import "ribbon.less";
@import "tile.less";
@import "timeline.less";

// can't find a media query way to target narrow non-touch devices, so feature detection it is
html.no-touch #store_info article.store-item-specific section.store-item-description {
	padding-top: 10px;
	article.app-info {
		> aside {
			width: 66%;
			&.count-1 {
				width: 33%;
			}
			float: right;
			border: 2px solid rgba(255,255,255,.4);
			border-radius: 10px;
			margin-left: 10px;
			box-shadow: 0 3px 5px rgba(0,0,0,.25);
		}

		h2:not(:first-of-type) {
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 300;
		    margin: 50px 0;
		}
	}
}

body#store_index {
	main {
		position: relative;
		> .bg-area {
			position: absolute;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    line-height: 0px;
		    bottom: 0;
		    &.left-bg {
				border-width: 590px 0 0 2500px;
				border-color: transparent transparent transparent rgba(231, 243, 251, 0.83);
				right: 30%;
		    }
		    &.right-bg {
				border-width: 0 0 570px 1500px;
				border-color: transparent transparent rgba(0, 192, 20, 0.12) transparent;
				right: 0;
		    }
		}
	    article.store-index {
	    	margin-bottom: 0;
	    	position: relative;
	    }
	}

}

body#store_info {

	article {
		&.store-item-specific {
			padding-top: 25px;
			> header > h1,
			> header > p {
				margin: 0;
			}
			/* background-color: @body-grey; */
			@media @medium {
				> header.common-header {
					display: block;
					h1 {
						margin: 0;
						display: block;
						text-align: center;
						padding: 25px 0 10px;
					}
					nav {
						text-align: center;
						> div.social-buttons {
							transform: scale(0.75);
						}
						margin-bottom: 10px;
					}
				}
				> header.app-tagline {
					p {
						text-align: center;
						padding: 0;
						margin: 0 0 10px 0;
					}
				}
				section.info {
					flex-direction: column;
					#slideshow {
						margin-bottom: 10px;
					}
				}
				&.subscriber {
					#slideshow {
						order: 2; // push underneath subscription box; you want to launch now
					}
				}
			}
			@media @tiny {
				> header.common-header nav > div.social-buttons {
					transform: scale(1);
				}
			}

			> header,
			> section {
				.standard-width();
			}


			aside.purchase-pane {
				float: right;
				width: 40%;
				margin-left: 10px;

				section.bundles header.pre {
					background-color: #777;
				}

				.box {

					background-color: #fff;
					color: #777;
					box-shadow: 0 0 3px rgba(0,0,0,.2);
					margin-bottom: 10px;

					header:not(.pre) {
						padding: 10px;
						display: flex;
						align-items: center;
						border-top: 1px solid #eee;
						h1 {
							flex: 1;
							margin: 0;
							padding: 0;
							text-transform: uppercase;
							font-weight: bold;
							font-size: inherit;
						}
						a {
							.button();
							&:not(.button-disabled) {
								.button-blue();
							}
						}
					}
					header.pre {
						padding: 5px 10px;
						background-color: #bbb;
						color: #fff;
						text-shadow: 0 1px 1px rgba(0,0,0,.2);
						span {
							float: right;
							font-size: 10px;
							display: inline-block;
							padding: .3em .7em;
							background-color: rgba(255,255,255,.5);
							color: #777;
							text-shadow: none;
							border-radius: 16px;
						}
					}
					.content {
						border-top: 1px solid #eee;
						padding: 10px;
						font-size: 12px;
						color: #777;
						p {
							padding: 0;
							margin: 0;
						}
						ul {
							margin: .3em 0;
							list-style-position: outside;
							padding: 0 0 0 20px;
							li {
								padding: 0;
								margin: 0;
							}
						}
						a {
							color: inherit;
						}
					}
					&.store-logon {
						header.pre {
							background-color: #ff7103;
						}
					}
					&.launch {
						.gradient(#1fad1f; #1f8f23);
						color: #fff;
						header:not(.pre) {
							border-top: none;
							color: inherit;
							a {
								.button();
								.button-launch();
							}
						}
						.content {
							color: inherit;
							border-top: 1px solid rgba(255,255,255,.2);
							p.subscription-overlap {
								color: #ff0;
							}
						}
					}

					&.changelog {
						border-radius: 8px;
						.gradient(#2ab8ec; #2ca0ca);
						.content {
							border-top: none;
							color: #fff;
							text-align: center;
						}
						a {
							color: inherit;
							text-decoration: underline;
						}
					}
				}
			}


			.app-info {
				@media @medium {
					display: flex;
					flex-direction: column;
					> aside {
						order: 2;
						padding: 5px;
						background: #59A047 !important;
						.tiers {
							flex-direction: column;
						}
					}
					> main {
						order: 1;
					}
				}
				> aside.app-tier-info {
					.gradient(@start: rgba(255,255,255,0); @end: rgba(255,255,255,.3));
					padding: 10px;
					color: inherit;
					font-size: 0.85rem;
					.tiers {
						display: flex;
						.tier {
							flex: 1;
							h4 {
								border-bottom: 1px solid rgba(255,255,255,.1);
							}
						}
					}
					> h3 {
						margin: 0;
						text-align: center;
						font-size: 1.15rem;
						font-weight: 300;
						text-shadow: 1px 1px 0 rgba(0,0,0,.2);
					}
				}
			}
			.h5 {
				.float-right();
				margin-left: 10px;
			}
		}
	}
}

header.common-header {
	margin-top: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	align-items: center;
	h1 {
		flex: 1;
	}
	nav {
		width: 250px;
	}
}

header.app-tagline {
	font-family: 'Montserrat', sans-serif;
}

article.app-vidninja {
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255,255,255) 350px, rgb(125, 173, 94) 750px);
            color: #fff;

	header.common-header {
		color: rgb(125, 173, 94);
	}

            header.app-tagline {
            	color: #444;
            	padding: 25px 0;
            }
}

article.app-docninja {
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255,255,255) 350px, rgb(63, 169, 202) 750px);
            color: #fff;

	header.common-header {
		color: rgb(63, 169, 202);
	}

            header.app-tagline {
            	color: #444;
            	padding: 25px 0;
            }

}

article.app-coursebuildr {
           background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255,255,255) 350px, rgb(126, 57, 109) 750px);
            color: #fff;

	header.common-header {
		color: rgb(126, 57, 109);
	}

            header.app-tagline {
            	color: #444;
            	padding: 25px 0;
            }
}

article.app-presninja {
    background:  linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 350px, #6abd69 750px);
    header.common-header {
    	color:#6abd69;
    }
}

.overlay-changelog {
	dd {
		background-color: #eee;
		text-align: center;
		padding: 4px;
		margin: 0;
	}
	font-size: 12px;
	padding: 4px;
}