/* navigation dropdown menu */
.navigation, .navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0;
    padding: 0;
}
/* TODO */
.navigation {
}
.navigation.right {
    float: right;
}
.navigation li {
    float: left;
    margin-right: 5px;
}
.navigation .navigation-submenu {
    display: none;
}
header .navigation > li > a {
    color: #454545 !important;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid rgba(69,69,69,.5);
    blackground: rgba(69,69,69,.5);
    border-radius: 4px;
    float:none;
    font-size: 10px;
    font-weight: bold;
}
.navigation li:hover .navigation-submenu {
    display: block;
    position: absolute;
    right: 5px;
    text-align: left;
}
.navigation li:hover .navigation-submenu li a {
        border-radius: 0;
}
.navigation li:hover .navigation-submenu li:first-of-type a {
        border-radius: 4px 4px 0 0;
}
.navigation li:hover .navigation-submenu li:last-of-type a {
        border-radius: 0 0 4px 4px;
        background-color: rgba(129,69,69,.75);
}
.navigation li:hover .navigation-submenu li:last-of-type a:hover {
    color: #fff;
}

.navigation li:hover li,
.navigation li:hover a {
    float: none;
}
.navigation li a:hover,
.navigation li:hover li a:hover {
    background: #fff;
    color: #454545;
}

.navigation li.seperator {
    border-bottom: 1px solid rgba(255,255,255,.25);
}
.navigation li.seperator-top {
    border-top: 1px solid rgba(255,255,255,.25);
}


.navigation li:hover .navigation-submenu li a {
    white-space: nowrap;
}
.navigation i[class^='cs-'] {
    font-size: 1.5em;
    margin-right: .3em;
    vertical-align: sub;
}

.navigation > li.active a {
    background: #fff;
    color: #fff;
}
.navigation > li:hover li a,
.navigation > li.active li a {
    background: #454545;
    color: #eee;
}

#routes .navigation {
    display: block;
}
#routes .navigation li {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
}
#routes .navigation li a {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
}
#routes .navigation li:hover a {
    color: rgba(255,255,128,1);
}
#routes .navigation li a > i {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    width: 100%;
}
#routes .navigation li.active {
    background-color: rgba(255,255,255,.3);
    border-radius: 25px;
}
#routes .navigation li.active a {
    color: #fff;
}

