@keyframes drop {
  0% {
    transform: translateY(-100px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes boop {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}
@keyframes backchange {
  0% {
    background: rgba(191, 68, 64, 0.1);
  }
  1% {
    background: rgba(191, 71, 64, 0.1);
  }
  2% {
    background: rgba(191, 79, 64, 0.1);
  }
  3% {
    background: rgba(191, 87, 64, 0.1);
  }
  4% {
    background: rgba(191, 94, 64, 0.1);
  }
  5% {
    background: rgba(191, 102, 64, 0.1);
  }
  6% {
    background: rgba(191, 110, 64, 0.1);
  }
  7% {
    background: rgba(191, 117, 64, 0.1);
  }
  8% {
    background: rgba(191, 125, 64, 0.1);
  }
  9% {
    background: rgba(191, 133, 64, 0.1);
  }
  10% {
    background: rgba(191, 140, 64, 0.1);
  }
  11% {
    background: rgba(191, 148, 64, 0.1);
  }
  12% {
    background: rgba(191, 156, 64, 0.1);
  }
  13% {
    background: rgba(191, 163, 64, 0.1);
  }
  14% {
    background: rgba(191, 171, 64, 0.1);
  }
  15% {
    background: rgba(191, 179, 64, 0.1);
  }
  16% {
    background: rgba(191, 186, 64, 0.1);
  }
  17% {
    background: rgba(189, 191, 64, 0.1);
  }
  18% {
    background: rgba(181, 191, 64, 0.1);
  }
  19% {
    background: rgba(173, 191, 64, 0.1);
  }
  20% {
    background: rgba(166, 191, 64, 0.1);
  }
  21% {
    background: rgba(158, 191, 64, 0.1);
  }
  22% {
    background: rgba(150, 191, 64, 0.1);
  }
  23% {
    background: rgba(143, 191, 64, 0.1);
  }
  24% {
    background: rgba(135, 191, 64, 0.1);
  }
  25% {
    background: rgba(128, 191, 64, 0.1);
  }
  26% {
    background: rgba(120, 191, 64, 0.1);
  }
  27% {
    background: rgba(112, 191, 64, 0.1);
  }
  28% {
    background: rgba(105, 191, 64, 0.1);
  }
  29% {
    background: rgba(97, 191, 64, 0.1);
  }
  30% {
    background: rgba(89, 191, 64, 0.1);
  }
  31% {
    background: rgba(82, 191, 64, 0.1);
  }
  32% {
    background: rgba(74, 191, 64, 0.1);
  }
  33% {
    background: rgba(66, 191, 64, 0.1);
  }
  34% {
    background: rgba(64, 191, 69, 0.1);
  }
  35% {
    background: rgba(64, 191, 77, 0.1);
  }
  36% {
    background: rgba(64, 191, 84, 0.1);
  }
  37% {
    background: rgba(64, 191, 92, 0.1);
  }
  38% {
    background: rgba(64, 191, 99, 0.1);
  }
  39% {
    background: rgba(64, 191, 107, 0.1);
  }
  40% {
    background: rgba(64, 191, 115, 0.1);
  }
  41% {
    background: rgba(64, 191, 122, 0.1);
  }
  42% {
    background: rgba(64, 191, 130, 0.1);
  }
  43% {
    background: rgba(64, 191, 138, 0.1);
  }
  44% {
    background: rgba(64, 191, 145, 0.1);
  }
  45% {
    background: rgba(64, 191, 153, 0.1);
  }
  46% {
    background: rgba(64, 191, 161, 0.1);
  }
  47% {
    background: rgba(64, 191, 168, 0.1);
  }
  48% {
    background: rgba(64, 191, 176, 0.1);
  }
  49% {
    background: rgba(64, 191, 184, 0.1);
  }
  50% {
    background: rgba(64, 191, 191, 0.1);
  }
  51% {
    background: rgba(64, 184, 191, 0.1);
  }
  52% {
    background: rgba(64, 176, 191, 0.1);
  }
  53% {
    background: rgba(64, 168, 191, 0.1);
  }
  54% {
    background: rgba(64, 161, 191, 0.1);
  }
  55% {
    background: rgba(64, 153, 191, 0.1);
  }
  56% {
    background: rgba(64, 145, 191, 0.1);
  }
  57% {
    background: rgba(64, 138, 191, 0.1);
  }
  58% {
    background: rgba(64, 130, 191, 0.1);
  }
  59% {
    background: rgba(64, 122, 191, 0.1);
  }
  60% {
    background: rgba(64, 115, 191, 0.1);
  }
  61% {
    background: rgba(64, 107, 191, 0.1);
  }
  62% {
    background: rgba(64, 99, 191, 0.1);
  }
  63% {
    background: rgba(64, 92, 191, 0.1);
  }
  64% {
    background: rgba(64, 84, 191, 0.1);
  }
  65% {
    background: rgba(64, 77, 191, 0.1);
  }
  66% {
    background: rgba(64, 69, 191, 0.1);
  }
  67% {
    background: rgba(66, 64, 191, 0.1);
  }
  68% {
    background: rgba(74, 64, 191, 0.1);
  }
  69% {
    background: rgba(82, 64, 191, 0.1);
  }
  70% {
    background: rgba(89, 64, 191, 0.1);
  }
  71% {
    background: rgba(97, 64, 191, 0.1);
  }
  72% {
    background: rgba(105, 64, 191, 0.1);
  }
  73% {
    background: rgba(112, 64, 191, 0.1);
  }
  74% {
    background: rgba(120, 64, 191, 0.1);
  }
  75% {
    background: rgba(128, 64, 191, 0.1);
  }
  76% {
    background: rgba(135, 64, 191, 0.1);
  }
  77% {
    background: rgba(143, 64, 191, 0.1);
  }
  78% {
    background: rgba(150, 64, 191, 0.1);
  }
  79% {
    background: rgba(158, 64, 191, 0.1);
  }
  80% {
    background: rgba(166, 64, 191, 0.1);
  }
  81% {
    background: rgba(173, 64, 191, 0.1);
  }
  82% {
    background: rgba(181, 64, 191, 0.1);
  }
  83% {
    background: rgba(189, 64, 191, 0.1);
  }
  84% {
    background: rgba(191, 64, 186, 0.1);
  }
  85% {
    background: rgba(191, 64, 179, 0.1);
  }
  86% {
    background: rgba(191, 64, 171, 0.1);
  }
  87% {
    background: rgba(191, 64, 163, 0.1);
  }
  88% {
    background: rgba(191, 64, 156, 0.1);
  }
  89% {
    background: rgba(191, 64, 148, 0.1);
  }
  90% {
    background: rgba(191, 64, 140, 0.1);
  }
  91% {
    background: rgba(191, 64, 133, 0.1);
  }
  92% {
    background: rgba(191, 64, 125, 0.1);
  }
  93% {
    background: rgba(191, 64, 117, 0.1);
  }
  94% {
    background: rgba(191, 64, 110, 0.1);
  }
  95% {
    background: rgba(191, 64, 102, 0.1);
  }
  96% {
    background: rgba(191, 64, 94, 0.1);
  }
  97% {
    background: rgba(191, 64, 87, 0.1);
  }
  98% {
    background: rgba(191, 64, 79, 0.1);
  }
  99% {
    background: rgba(191, 64, 71, 0.1);
  }
  100% {
    background: rgba(191, 64, 64, 0.1);
  }
}



@keyframes bouncy-bouncy{
  0% {
    transform:  translate(0px,-100px)  rotate(8deg) ;
  }
  41% {
    transform:  translate(0px,0px)  rotate(4deg) ;
  }
  58% {
    transform:  translate(0px,-25px)  rotate(-1deg) ;
  }
  73% {
    transform:  translate(0px,0px)  rotate(2deg) ;
  }
  82% {
    transform:  translate(0px,-12px)  rotate(1deg) ;
  }
  90% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  96% {
    transform:  translate(0px,-3px)  ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-moz-keyframes bouncy-bouncy{
  0% {
    -moz-transform:  translate(0px,-100px)  rotate(8deg) ;
  }
  41% {
    -moz-transform:  translate(0px,0px)  rotate(4deg) ;
  }
  58% {
    -moz-transform:  translate(0px,-25px)  rotate(-1deg) ;
  }
  73% {
    -moz-transform:  translate(0px,0px)  rotate(2deg) ;
  }
  82% {
    -moz-transform:  translate(0px,-12px)  rotate(1deg) ;
  }
  90% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  96% {
    -moz-transform:  translate(0px,-3px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-webkit-keyframes bouncy-bouncy {
  0% {
    -webkit-transform:  translate(0px,-100px)  rotate(8deg) ;
  }
  41% {
    -webkit-transform:  translate(0px,0px)  rotate(4deg) ;
  }
  58% {
    -webkit-transform:  translate(0px,-25px)  rotate(-1deg) ;
  }
  73% {
    -webkit-transform:  translate(0px,0px)  rotate(2deg) ;
  }
  82% {
    -webkit-transform:  translate(0px,-12px)  rotate(1deg) ;
  }
  90% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  96% {
    -webkit-transform:  translate(0px,-3px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-o-keyframes bouncy-bouncy {
  0% {
    -o-transform:  translate(0px,-100px)  rotate(8deg) ;
  }
  41% {
    -o-transform:  translate(0px,0px)  rotate(4deg) ;
  }
  58% {
    -o-transform:  translate(0px,-25px)  rotate(-1deg) ;
  }
  73% {
    -o-transform:  translate(0px,0px)  rotate(2deg) ;
  }
  82% {
    -o-transform:  translate(0px,-12px)  rotate(1deg) ;
  }
  90% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  96% {
    -o-transform:  translate(0px,-3px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-ms-keyframes bouncy-bouncy {
  0% {
    -ms-transform:  translate(0px,-100px)  rotate(8deg) ;
  }
  41% {
    -ms-transform:  translate(0px,0px)  rotate(4deg) ;
  }
  58% {
    -ms-transform:  translate(0px,-25px)  rotate(-1deg) ;
  }
  73% {
    -ms-transform:  translate(0px,0px)  rotate(2deg) ;
  }
  82% {
    -ms-transform:  translate(0px,-12px)  rotate(1deg) ;
  }
  90% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  96% {
    -ms-transform:  translate(0px,-3px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}